<div>
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-2xl font-semibold leading-6 text-gray-900">New Scooter</h1>
      <p class="mt-2 text-sm text-gray-700">Register a new scooter in the system.</p>
    </div>
  </div>

  <div class="mt-8">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <%= render "form", scooter: @scooter %>
      </div>
    </div>
  </div>
</div>