<div class="py-1">
  <div class="text-green-400"><%= command %></div>
  <div class="command-output text-gray-400" data-scooter="<%= scooter.id %>">
    <div class="animate-pulse">Executing command...</div>
  </div>
</div>