<%= turbo_frame_tag "scooter_#{scooter.id}_blinkers" do %>
  <div class="warning-indicators">
    <div class="indicator <%= scooter.blinkers == 'left' ? 'active' : 'inactive' %>">
      <svg viewBox="0 0 94 96" xmlns="http://www.w3.org/2000/svg">
        <path class="blinker" d="M93.3633 30.0668H47.9999V0L-0.000137329 48L47.9999 96V65.9333H93.3633V30.0668Z"/>
      </svg>
    </div>
    
    <div class="indicator parking <%= scooter.state == 'parked' ? 'active' : 'inactive' %>">
      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M48.0007 78.24C64.7018 78.24 78.2407 64.7011 78.2407 48C78.2407 31.2989 64.7018 17.76 48.0007 17.76C31.2997 17.76 17.7607 31.2989 17.7607 48C17.7607 64.7011 31.2997 78.24 48.0007 78.24Z" stroke="#FF0000" stroke-width="3"/>
        <path d="M74.3047 21.6955C77.759 25.1499 80.4991 29.2508 82.3686 33.7641C84.2381 38.2775 85.2002 43.1148 85.2002 48C85.2002 52.8852 84.2381 57.7225 82.3686 62.2359C80.4991 66.7492 77.759 70.8501 74.3047 74.3045" stroke="#FF0000" stroke-width="4.5"/>
        <path d="M21.6963 21.6955C18.242 25.1499 15.5018 29.2508 13.6324 33.7641C11.7629 38.2775 10.8008 43.1148 10.8008 48C10.8008 52.8852 11.7629 57.7225 13.6324 62.2359C15.5018 66.7492 18.242 70.8501 21.6963 74.3045" stroke="#FF0000" stroke-width="4.5"/>
        <path d="M38.5869 65.8992V30.5007H50.4324C52.5173 30.5007 54.1095 30.6134 55.209 30.8387C56.7513 31.1285 58.0436 31.6839 59.0861 32.5048C60.1285 33.3097 60.9639 34.4446 61.5923 35.9095C62.2348 37.3744 62.5561 38.9841 62.5561 40.7388C62.5561 43.749 61.7065 46.3006 60.0072 48.3933C58.3078 50.4699 55.2376 51.5082 50.7964 51.5082H42.7425V65.8996L38.5869 65.8992ZM42.7424 47.3304H50.8607C53.5453 47.3304 55.4517 46.767 56.5799 45.6402C57.708 44.5133 58.2721 42.9277 58.2721 40.8833C58.2721 39.4023 57.9365 38.1387 57.2653 37.0923C56.6084 36.0299 55.7373 35.3296 54.652 34.9916C53.9523 34.7823 52.66 34.6776 50.775 34.6776H42.7427L42.7424 47.3304Z" fill="#FF0000"/>
      </svg>
    </div>
    
    <div class="indicator <%= scooter.blinkers == 'right' ? 'active' : 'inactive' %>">
      <svg viewBox="0 0 94 96" xmlns="http://www.w3.org/2000/svg">
        <path class="blinker" d="M0.636719 30.0668H46.0001V0L94.0001 48L46.0001 96V65.9333H0.636719V30.0668Z"/>
      </svg>
    </div>
  </div>
<% end %>