<div class="rounded-md bg-amber-50 border border-amber-200 p-4 mb-6">
  <div class="flex">
    <div class="flex-shrink-0">
      <svg class="h-5 w-5 text-amber-500" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-amber-800">Scooter is currently offline</h3>
      <div class="mt-2 text-sm text-amber-700">
        <p>The displayed scooter state may be outdated. Any commands you send will be queued and executed as soon as the scooter comes back online.</p>
      </div>
    </div>
  </div>
</div>
