<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
  <div class="px-4 sm:px-0">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Edit Scooter</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">Update your scooter details below.</p>
  </div>

  <div class="mt-6">
    <%= render "form", scooter: @scooter %>
  </div>

  <%= render "danger_zone", scooter: @scooter %>
</div>