@utility animate-blink {
  animation: blink 1s var(--transition-smooth) infinite;
}

@utility animate-glow {
  animation: glow-up 1.5s ease-in 1 forwards;
}

@utility animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer utilities {
  @keyframes pulse {
    50% {
      opacity: .5;
    }
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  @keyframes glow-up {
    0% { opacity: 0; }
    40% { opacity: 0.7; }
    100% { opacity: 1; }
  }
}